@mixin container {
  width: 80%;
  margin: 0 auto;
}

@mixin linkBtn($btnHoverColor) {
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transition: all .4;
  text-decoration: none;
  padding: 8px;
  color: black;
  &:hover {
    opacity: .7;
    background-color: $btnHoverColor;
  }
}
